.ShowPage {
  display: flex;
  height: 100%;
  background-color: black;
  font-family: 'Pixelify Sans', sans-serif;
}

.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.show-container button {
  position: relative;
  left: 17%;
  bottom: 4%;
  padding: 7px;
  background-color: darkcyan;
}

.show-container img {
  width: 13em;
}

.show-stat-container {
  width: 100%;
  height: 100%;
  padding: 20px;
}
